<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <title>Budget App</title>
  </head>
  <body>
      
      <div class="container">
        <div class="jumbotron" >
            <div class="row">
                <div class="col-12 col-sm-4">
                    <h3>Budget App</h3>
                </div>
            </div>
            <div class="row">
                <div  class="col-12 col-sm-5 border border-danger">
                  <form  method="post" action="/budget/add">
                      <div class="mb-3">
                          <label for="budget">Please Enter your Budget</label>
                        <input class="form-control form-control-lg" type="text" name="budget">
                        <input type="submit" value="Calculate"/>
                      </div>
                  </form>
                </div>
                <div class="col-12 col-sm-2 ml-5">
                    <h3>Budget</h3>
                    <i style='font-size:24px' class='fas'>&#xf3d1;</i><br/>
                    
                    <span style="color: red; font-size:x-large;"><b>$<%=budget%></b></span>
                </div>
                
                <div class="col-12 col-sm-2">
                    <h3>Expanses</h3>
                    <i style='font-size:24px' class='far'>&#xf09d;</i><br/>
                   
                    <span style="color: red; font-size:x-large;"><b>$<%=totalexp%></b></span>
                </div>
                
                <div class="col-12 col-sm-2">
                    <h3>Balance</h3>
                    <i style='font-size:24px' class='fas'>&#xf155;</i><br/>
                    <span style="color: red; font-size:x-large;"><b>$<%=balance%></b></span>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-sm-5 border border-danger mt-5">
                  <form method="post" action="/expanse/add">
                      <div class="mb-3">
                          <label for="expanse">Please Enter your Expanse</label>
                        <input class="form-control form-control-lg" type="text" name="expanse"><br/>
                        <label for="amount">Please Enter your Expanse Amount</label>
                        <input class="form-control form-control-lg" type="text" name="amount">
                        <input type="submit" value="Add Expanse"/>
                      </div>
                  </form>
                </div>
                <div class="col-12 col-sm-2 mt-4 ml-5">
                    <span>Expanse Title</span>
                    <ul>
                    <% for(let i=0;i<exp.length;i++){%><br/>
                       
                            <li><span><%=exp[i].title%></span></li>
                        
                        <br/>
                      <%}%>  
                    </ul>
                </div>
                <div class="col-12 col-sm-2 mt-4">
                    <span>Expanse Value</span>
                    <ul>
                    <%for(let i=0;i<exp.length;i++){%><br/>
                       
                        <li style="list-style-type: none;"><span><%=exp[i].amount%></span></li>    
                        
                    <br/>
                    
                    <%}%>
                    </ul>
                </div>
                
                <div class="col-12 col-sm-2 mt-4">
                    <span>Operation</span>
                    <ul>
                    <% for(let i=0;i<exp.length;i++){%><br/>

                        <li style="list-style-type: none;"><a href="/expanse/edit/<%=i %>"><i class="fas fa-edit"></i></a> <a href="/expanse/delete/<%=i %>"><i class="far fa-trash-alt"></i></a></li>
                         
                    </br>
                    <%}%>
                    </ul>
                </div>
                
            </div>

        </div>  
      </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>